/* body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;   
    color: black;
} */

/* *{
    
    box-sizing: border-box;
}

body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    background-color: rgb(241 241 241);
} */




.footer1 {
    background-color:rgb(189, 189, 189);
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    margin-top: 600px;
}
.container {
    width: 100%;
    
    margin:20px;
        /* border: 2px solid blue; */

    
}


 /* footer ::after {
    content: '';
    display: table;
    clear: both;
}  */

.logo{
    float:left;
    padding: 25px 10px;
   
    /* border: 2px solid red; */
}

.content {
    border: 2px solid red;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* padding-left: 400px; */
}

ul {
    
    list-style: none;
    display: flex

}

li {
    align-items: center;
    padding: 2px;
    margin: 2px;
}
nav {
    align-items: center;
}

.content li{
    margin : 0 10px;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      max-width: 600px;

    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .footer1{
        margin-top: 850px;
    }
    /* .view {
        width: 600px;
    } */
  }
/* 
.footer{
    padding-bottom: 0px;
    position:absolute;
} */


