*{
    
    box-sizing: border-box;
}
body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    background-color: rgb(241 241 241);
 
    color: var(--primary-text-color);
}

.top{
    display: flex;
    justify-content:center;
    
}

div h2 {
    text-align: center;
}

.img1 {
    width: 200px;
    height: 200px;

}

.topImgHeader {
    position: relative;
    text-align: center;
    
}

.topImgHeader h1 {

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.cards{
    display: flex;
  
    align-items: stretch;
    justify-content: space-between;
    /* justify-content:space-evenly; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color:rgb(189, 189, 189);
    flex: 1 1 30%; /*grow | shrink | basis */
    
    /* margin-left: 40px; */
    padding: 60px;
    margin: 40px;
    margin-left: 50px;
    color: white;
       
}



.cards img {
    width: 100px;
    height: 100px;
   }

   .btn{
    display: flex;
    justify-content:center;
   
  
   

   }
   button {
    background-color:rgb(134, 133, 133);
    font-size: 25px;
    border-radius: 5px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    
   }
/* 
   .middle{

    width: fit-content;
   } */

   .bottom{
    /* position: absolute; */
    width: fit-content;
       margin: 100px;
   }
   .open_img{
    display: flex;
    justify-content:start;
 
   }

   
.open_img .selected{
    align-self: center;
    margin-left: 20px;
}
 
.days {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.day {
    display: flex;
  flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    margin:20px;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
    .cards{
        display: flex;
        flex-direction: column;      
        align-items: stretch;
        justify-content: space-between;
      
    }
    .bottom{
        /* position: absolute; */
        width: fit-content;
         
       }
    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      max-width: 600px;
    }
    /* .view {
        width: 600px;
    } */
     .bottom{
       display: flex;
       flex-direction: column;
       margin: 10px;
         
       } 
   
  }




  

/* 
  .footer1 {
    background-color:rgb(189, 189, 189);
    left: 0;
    bottom: 0; 
    width: 100%
}
.container {
    width: 100%;
    
    margin:20px;
        /* border: 2px solid blue; */

    
}


 /* footer ::after {
    content: '';
    display: table;
    clear: both;
}  */

.logo{
    float:left;
    padding: 25px 10px;
   
    /* border: 2px solid red; */
}

.content {
    border: 2px solid red;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* padding-left: 400px; */
}

ul {
    
    list-style: none;
    display: flex

}

li {
    align-items: center;
    padding: 2px;
    margin: 2px;
}
nav {
    align-items: center;
}

.content li{
    margin : 0 10px;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
    
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
      max-width: 600px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }
    /* .view {
        width: 600px;
    } */
  } */